fastapi
uvicorn
python-multipart
torch
transformers
qwen_vl_utils
pydantic
openai
opencv-python
numpy
pillow
pdf2image
pytesseract
matplotlib
arabic_reshaper
python-bidi
docling
imutils
accelerate
torchvision
